<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/prefesores"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre del Profesor</ion-label>
        <ion-input type="text" [(ngModel)]="profesor.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">URL de la Imagen</ion-label>
        <ion-input type="text" [(ngModel)]="profesor.imagen"></ion-input>
      </ion-item>

      <ion-button (click)="editarProfesor()">Guardar Cambios</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>