<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- BOTON MENU-->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title class="textcenter">Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<app-cartaadmin imagen="https://i.imgur.com/V0EOU9q.jpg" 
titulo="Administrar Usuarios" 
tipo=" Usuarios."
[mostrarBoton]="true"> 
</app-cartaadmin>

<app-cartaadmin imagen="https://i.imgur.com/acuttBw.jpg" 
titulo="Administrar Alumnos" 
tipo=" alumnos"
[mostrarBoton2]="true"> 
</app-cartaadmin>

<app-cartaadmin imagen="https://i.imgur.com/tQ0ldbO.jpg" 
titulo="Administrar Profesor" 
tipo=" Profesor"
[mostrarBoton3]="true"> 
</app-cartaadmin>

<app-cartaadmin imagen="https://cdn3.iconfinder.com/data/icons/language-learning-4/64/books-study-stack_of_books-subjects-educative-256.png" 
titulo="Administrar Asignaturas" 
tipo=" Asignaturas"
[mostrarBoton4]="true"> 
</app-cartaadmin>

 