<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/alumno"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre del alumno </ion-label>
        <ion-input type="text" [(ngModel)]="alumno.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">carrera del alumno </ion-label>
        <ion-input type="text" [(ngModel)]="alumno.carrera"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">seccion del alumno </ion-label>
        <ion-input type="text" [(ngModel)]="alumno.seccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">URL de la Imagen</ion-label>
        <ion-input type="text" [(ngModel)]="alumno.imagen"></ion-input>
      </ion-item>

      <ion-button (click)="editarAlumno()">Guardar Cambios</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>